<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body >
    <main>
        <nav>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Report Violation</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <H1>Welcome to  Live Chat</H1>
        <div>
            <div class="contacts"></div>
            <div class="message"></div>
        </div>
    </main>
</body>
</html>